body {
    background-color: #3a89c9;
}

.msg-user {
    font-size: 30px;
    color: white;
    border-style: solid;
    border-width: 0px;
    border-radius: 30px 30px 0px 30px;
    background-color: #3a89c9;
    padding: 20px;
    margin: 20px 20px;
    margin-left: auto; 
    margin-right: 20px;
    width: max-content;
    max-width: 400px;
    text-align: left;
    word-break: break-word;
}

.msg-outher-user {
    font-size: 30px;
    color: black;
    border-style: solid;
    border-width: 0px;
    border-radius: 30px 30px 30px 0px;
    background-color: #9cc4e4;
    padding: 20px;
    margin: 20px 20px;
    width: max-content;
    max-width: 400px;
    text-align: left;
    word-break: break-word;
}

.msg-server {
    font-size: 30px;
    border-style: solid;
    border-width: 0px;
    border-radius: 20px 20px 20px 20px;
    width: max-content;
    margin: 10px auto;
    padding: 10px;
    background-color: rgb(252, 252, 252);
    color: lightcoral;
    word-break: break-word;
}

.member-icon {
    display: inline;
    float: left;
    padding: 0 30px;
    font-size: 30px;
    background-color: #e9f2f9;
}

.room {
    background-color: #e9f2f9;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
    padding: 20px;
}

.roomName {
    display: inline-block;
    margin-right: 20px;
}

.inLimit_yes {
    border-style: solid;
    border-width: 0px;
    border-radius: 25px;
    padding: 5px;
    display: inline-block;
    font-weight: 800;
    color: darkblue;
    background-color: #7cf49a;
    margin-left: 220px;
}

.inLimit_no {
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    padding: 5px;
    display: inline-block;
    color: aliceblue;
    background-color: #d31900;
    margin-left: 220px;
}

.roomLimite {
    display: inline-block;
}

.inRoom {
    display: inline-block;
}

#chatBar-buttonSend {
    padding: 20px 10px 20px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #1b325f;
    background-color: #1b325f;
}

#buttonSend {
    background-color: #9cc4e4;
    position: relative;
    width: 100px;
    height: 50px;;
    border-radius: 0px 20px 20px 0px;
    border-width: 0px;
    bottom: 20px;
    padding: 0px 20px 0px 0px;
}

#sender {
    font-size: 30px;
    padding: 5px 10px 10px 20px;
    border-style: solid;
    border-width: 0px;
    border-radius: 20px 0px 0px 20px;
    height: 50px;
    resize: none;
    position: relative;

}

#room-container {
    border-width: 0px;
    border-style: solid;
    border-radius: 10px;
}

#container {    
    width: max-content;
    margin: 10 auto;
}

#chat-container {
    background-color: #e9f2f9;
    background-repeat: repeat-x;
    border-style: solid;
    border-color: #e9f2f9;
    border-width: 1px;
    height: 80%;
    width: 950px;
    padding: 10px;
    overflow-y: scroll;
}

#chooseRooms-container {
    font-size: 50px;
    border-width: 0px;
    border-style: solid;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    width: 500px;
    height: max-content;
}

#set-nickname input {
    border-radius: 20px;
    padding: 10px;
    font-size: 30px;
}

#set-nickname button {
    border-color: #9cc4e4;
    background-color: #9cc4e4;
    font-size: 30px;
    border-radius: 20px;
    padding: 10px;
}

#list-members {
    width: 100%;
    height: fit-content;
}