body {
    background-color: antiquewhite;
}

.msg-user {
    color: black;
    border-style: solid;
    border-width: 0px;
    border-radius: 20px 20px 20px 0px;
    background-color: lightskyblue;
    padding: 10px;
    margin-bottom: 10px;
    width: max-content;
    max-width: 400px;
    text-align: left;
    word-break: break-word;
}

.msg-outher-user {
    color: black;
    border-style: solid;
    border-width: 0px;
    border-radius: 20px 20px 20px 0px;
    background-color: ivory;
    padding: 10px;
    margin-bottom: 10px;
    width: max-content;
    max-width: 400px;
    text-align: left;
    word-break: break-word;
}

.msg-server {
    border-style: solid;
    border-width: 0px;
    border-radius: 20px 20px 20px 20px;
    width: max-content;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(252, 252, 252);
    color: lightcoral;
    word-break: break-word;
}

.room {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
    padding: 20px;
}

.roomName {
    display: inline-block;
    margin-right: 20px;
}

.inLimit_yes {
    border-style: solid;
    border-width: 0px;
    border-radius: 25px;
    padding: 5px;
    display: inline-block;
    font-weight: 800;
    color: darkblue;
    background-color: greenyellow;
}

.inLimit_no {
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    padding: 5px;
    display: inline-block;
    color: aliceblue;
    background-color: brown;
}

.roomLimite {
    display: inline-block;
}

.inRoom {
    display: inline-block;
}

#chatBar-buttonSend {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    padding: 10px 20px 10px 20px;
}

button {
    border-radius: 20px;
}

#buttonSend {
    margin: 0 auto
}

#sender {
    padding: 5px 10px 10px 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    height: 50px;
    resize: none;
    display: inline-block;
}

#room-container {
    border-width: 0px;
    border-style: solid;
    border-radius: 10px;
}

#container {
    background-color: aliceblue;
    width: max-content;
    margin: 10 auto;
}

#chat-container {
    background-image: url("https://media.istockphoto.com/vectors/set-of-contact-us-and-support-icons-vector-pattern-design-vector-id1183632265?k=20&m=1183632265&s=612x612&w=0&h=WrdRJWCQdgJbjFt9xaJ1ycGps16x2Xb7M1EwcfNFNcQ=") ;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 500px;
    width: 500px;
    padding: 10px;
    overflow-y: scroll;
}

#chooseRooms-container {
    border-width: 0px;
    border-style: solid;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 0px 20px 0px 20px;
}